<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Food App</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Righteous|Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6ba3f5c144.js" crossorigin="anonymous"></script>

    <!-- Vendor JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- App JS -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>

  <body>
  <header>
    <nav>

      <div></div>

      <div class="restaurant-name">
        <img src="/images/dragon12.png" alt="dragon">
        <span class="space-between"></span>
        <h2>Camilo's Cafe</h2>
      </div>

        <img src="/images/cart7.png" alt="Cart">
    </nav>
  </header>
  <main>
    <section>
      <div class="conainer-lg menu-category">
        <div class="row">
          <!--
          <div class="col-lg-2"></div>
          -->
          <div class="col-lg-3 sandwich">
            <img src="/images/sandwich7.png" alt="sandwich">
            <p>sandwich</p>

          </div>
          <div class="col-lg-3">
            <img src="/images/soup2.png" alt="soup">
            <p>soup</p>
          </div>
          <div class="col-lg-3">
            <img src="/images/salad2.png" alt="salad">
            <p>salad</p>
          </div>
          <div class="col-lg-3">
            <img src="/images/drink2.png" alt="drink">
            <p>drink</p>
          </div>
          <!--
          <div class="col-lg-2"></div>
          -->
        </div>
      </div>
    </section>

    <section>
      <div class="meal_items">
        <img src="" alt="BLT">
        <div class="meal_items_container">
          <span class="heading">
            Heading
          </span>
          <span class="heading">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi officiis ratione unde voluptatibus sapiente deserunt voluptate culpa nam non suscipit architecto, eos ullam perspiciatis, quasi laboriosam tenetur neque facere aliquam.
          </span>
          <span class="quantity_price">
            quantity, price
          </span>
        </div>
      </div>
    </section>
  </main>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
