// See: https://sass-lang.com/

body {
  background-color: #EEE;
  font-family: 'Source Sans Pro', sans-serif;

  header {
    background-color: BlanchedAlmond;
  }

  nav {
    font-family: 'Bungee', cursive;
    display: flex;
    justify-content:space-between;
    align-items: center;

    padding: 50px 50px;
  }

  .restaurant-name {
    margin-top:20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
  }

  .space-between {
    width: 3rem;
  }

  .menu-category {
    margin: 50px;
    background-color: #EEE;
    border: 2px solid darkblue;
    padding: 20px 20px;
    text-align: center;
    font-family: 'Bungee', cursive;
  }
}
